<div class="show-employee">
    <div class="header">
        <div class="fillter">
            <select [(ngModel)]="employeePageService.mainAttribute" (ngModelChange)="onChangeSelect($event)">
                <option *ngFor="let item of employeePageService.getMainAttributes()" [value]="item">{{item}}</option>
            </select>
            <div class="sort" [style.marginTop]="employeePageService.getSortString() == 'ASC'?'-5px':'0px'">
                <i *ngIf=" employeePageService.getSortString()=='ASC'" class=" fas fa-sort-amount-down asc"
                    (click)="changeSort('DESC')" matTooltip="Sort by DESC" matTooltipClass="tooltip"></i>
                <i *ngIf="employeePageService.getSortString() == 'DESC'" class="fas fa-sort-amount-down-alt desc"
                    (click)="changeSort('ASC')" matTooltip="Sort by ASC" matTooltipClass="tooltip"></i>
            </div>
            <div class="search">
                <i class="fas fa-search"></i>
                <input type="text" placeholder="Search..." [(ngModel)]="employeePageService.inputSearch"
                    (ngModelChange)="changeSearch($event)">
            </div>
        </div>
        <div class="show-found">
            <p>Show {{employeePageService.employees.length}} lines</p>
        </div>
    </div>
    <div class="content">
        <div class="header">
            <p>Id</p>
            <p>First name</p>
            <p>Last name</p>
            <p>Gender</p>
            <p>DoB</p>
            <p>Email</p>
            <p>Address</p>
            <p>City</p>
            <p>Department Id</p>
        </div>
        <div class="list">
            <div id="content-list-e" class="content-list" (scroll)="onScroll($event)">
                <div class="line" *ngFor="let item of employeePageService.employees">
                    <p>{{item.id}}</p>
                    <p>{{item.firstName}}</p>
                    <p>{{item.lastName}}</p>
                    <p>{{item.gender}}</p>
                    <p>{{item.doB!.format()}}</p>
                    <p [innerHTML]="getEmail(item.email!)"></p>
                    <p>{{item.address}}</p>
                    <p>{{item.city}}</p>
                    <p>{{item.department!.id}}</p>
                    <i (click)="removeItem(item.id!)" class="far fa-trash-alt" matTooltip="Delete"
                        matTooltipClass="tooltip"></i>
                    <i (click)="editItem(item)" class="fas fa-pencil-alt" matTooltip="Edit"
                        matTooltipClass="tooltip"></i>
                </div>
                <div class="content-anim" *ngIf="employeePageService.isLoadData">
                    <main lottie [options]="options" (animationCreated)="animationCreated($event)" class="anim"></main>
                </div>
            </div>
        </div>
    </div>
</div>