* {
  margin: 0;
  padding: 0;
}

.show-employee {
  width: 803px;
  position: absolute;
  height: 760px;
  top: 20px;
  left: 321px;

  .header {
    display: flex;

    .fillter {
      width: 100%;
      height: 44px;
      background-color: white;
      box-shadow: 4px 8px 28px 0 #d3dceb;
      border-radius: 12px;
      display: flex;
      align-items: center;

      select {
        border: none;
        outline: none;
        margin-left: 20px;
        font-weight: bold;
        font-size: 13px;
        font-family: "Raleway";
        padding-right: 16px;
      }

      .sort {
        overflow: hidden;
        width: 20px;
        height: 14px;
        display: flex;
        margin-left: 70px;
        cursor: pointer;

        i {
          color: #9795b4;
          font-size: 28px;
          margin-left: -12px;
          transform: scaleY(0.5);
        }

        .asc {
          margin-top: -1px;
        }

        .desc {
          margin-top: -9px;
        }
      }

      .search {
        margin-left: 10px;
        display: flex;
        border-radius: 50px;
        border: 1px solid #eef0f5;
        height: 25px;
        align-items: center;
        width: 441px;

        i {
          margin-left: 10px;
          color: #9795b4;
        }

        input {
          outline: none;
          border: none;
          margin-left: 10px;
          width: 144px;
          font-family: "Raleway";
          margin-right: 12px;
        }
      }
    }

    .show-found {
      display: flex;
      align-items: center;
      margin-left: auto;
      margin-right: auto;
      height: 44px;
      p {
        margin: 0;
        font-family: "Raleway";
        font-size: 14px;
        font-weight: 500;
        color: #b8b8c8;
      }
    }
  }

  .content {
    margin-top: 20px;
    .header {
      p {
        color: #78909c;
        font-family: sans-serif;
        font-size: 14px;
        font-weight: bold;
      }
      :nth-child(1) {
        margin: 0;
        margin-left: 10px;
      }
      :nth-child(2) {
        margin: 0;
        margin-left: 15px;
      }
      :nth-child(3) {
        margin: 0;
        margin-left: 25px;
      }
      :nth-child(4) {
        margin: 0;
        margin-left: 15px;
      }
      :nth-child(5) {
        margin: 0;
        margin-left: 15px;
      }
      :nth-child(6) {
        margin: 0;
        margin-left: 55px;
      }
      :nth-child(7) {
        margin: 0;
        margin-left: 69px;
      }
      :nth-child(8) {
        margin: 0;
        margin-left: 50px;
      }
      :nth-child(9) {
        margin: 0;
        margin-left: 73px;
      }
    }
    .list {
      margin-top: 10px;
      height: 665px;
      overflow: hidden;

      .content-list {
        height: 682px;
        width: 803px;
        scroll-behavior: smooth;
        overflow: scroll;

        .content-anim {
          margin-top: 5px;
          margin-left: 1px;
          margin-right: 9px;
          display: flex;
          justify-content: center;
          align-items: center;
          .anim {
            width: 100px;
          }
        }

        .line {
          background-color: white;
          border-radius: 5px;
          margin-top: 5px;
          display: flex;
          align-items: center;
          padding: 5px;
          position: relative;
          margin-left: 1px;
          margin-right: 9px;

          p {
            margin: 0px;
            color: #5e6467;
            font-family: "Raleway";
            font-size: 13px;
            font-weight: 500;
          }

          span {
            margin: 0px;
            color: #5e6467;
            font-family: "Raleway";
            font-size: 13px;
            font-weight: 500;
          }

          :nth-child(1) {
            margin-left: 5px;
            width: 20px;
          }

          :nth-child(2) {
            margin-left: 5px;
            width: 92px;
          }

          :nth-child(3) {
            margin-left: 6px;
            width: 67px;
          }

          :nth-child(4) {
            margin-left: 17px;
            width: 56px;
          }

          :nth-child(5) {
            margin-left: 7px;
            width: 82px;
          }

          :nth-child(6) {
            margin-left: 3px;
            width: 100px;
          }

          :nth-child(7) {
            margin-left: 5px;
            width: 99px;
          }

          :nth-child(8) {
            margin-left: 9px;
            width: 95px;
          }

          :nth-child(9) {
            margin-left: 5px;
            width: 20px;
          }

          :nth-child(10) {
            margin-left: 20px;
          }

          :nth-child(11) {
            margin-left: 20px;
          }

          i {
            color: #9795b4;
            cursor: pointer;
            width: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 20px;
          }
        }
      }
    }
  }
}
::-webkit-scrollbar-track {
  border-radius: 20px;
  background: #00000000;
}
::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #00000066;
}
::-webkit-scrollbar {
  width: 7px;
  border-radius: 10px;
}
::-webkit-scrollbar:hover {
  background: #0700001c !important;
}

.formYesNo {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  transition: 0.2s all ease-in-out;

  .formYesNoHidden {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #e8a2a224;
    top: 0px;
    z-index: 2;
  }

  .content {
    border-radius: 10px;
    width: 530px;
    height: 340px;
    top: 50%;
    left: 50%;
    margin-left: -265px;
    margin-top: -170px;
    z-index: 3;
    background-color: white;
    position: absolute;
    box-shadow: 17px 20px 14px 4px #67666c;

    .title {
      margin: 0px;
      text-align: center;
      font-family: sans-serif;
      color: rgb(65, 98, 251);
      font-weight: bold;
      font-size: 22px;
      margin-top: 50px;

      i {
        color: rgb(65, 98, 251);
      }
    }

    .select {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 50px;

      .title1 {
        margin: 0px;
        color: #36363f;
        font-weight: bold;
        font-size: 18px;
        font-family: sans-serif;
      }

      .title2 {
        margin: 0px;
        color: #5e6477;
        font-size: 14px;
        text-align: center;
        width: 350px;
        margin-top: 35px;
        font-family: sans-serif;
      }

      div {
        display: flex;
        p {
          margin: 0px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: white;
          background-color: rgb(216 216 216);
          border: none;
          border-radius: 3px;
          width: 200px;
          height: 40px;
          margin-top: 30px;
          font-size: 14px;
          font-family: sans-serif;
          justify-content: center;
          align-items: center;
          margin-right: 10px;
          cursor: pointer;
          i {
            margin-left: 5px;
          }
        }
        span {
          color: white;
          background-color: rgb(65, 98, 251);
          border: none;
          border-radius: 3px;
          width: 200px;
          height: 40px;
          margin-top: 30px;
          font-size: 14px;
          font-family: sans-serif;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-left: 10px;
          cursor: pointer;
          i {
            color: white;
            margin-left: 5px;
          }
        }
      }
    }
  }
}

.notification {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: #e8a2a224;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0px;
  left: 0px;

  .content {
    width: 600px;
    height: 500px;
    display: flex;
    background-color: white;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 15px 2px #a7575782;
    .anim {
      width: 285px;
      margin-top: 10px;
      height: 285px;
    }

    .title {
      margin: 0px;
      color: #23262e;
      font-family: "Raleway";
      line-height: 21px;
      letter-spacing: 1px;
      font-weight: 700;
      font-size: 20px;
      margin-top: 20px;
    }

    .child {
      margin: 0px;
      letter-spacing: 1px;
      font-size: 12px;
      font-weight: 500;
      color: #888888;
      margin-top: 15px;
      font-family: "Raleway";
      text-align: center;
    }

    .confirm {
      border: none;
      background-color: #ff7ca9;
      justify-content: center;
      align-items: center;
      margin-top: 40px;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      cursor: pointer;
      border-radius: 5px;
      padding: 12px 24px;

      p {
        margin: 0px;
        font-family: "Raleway";
        font-size: 13px;
        font-weight: 600;
        letter-spacing: 1px;
        margin-left: 10px;
        color: white;
      }

      i {
        font-size: 20px;
        color: white;
      }
    }
  }
}
