* {
  margin: 0;
  padding: 0;
}

.add-department {
  width: 281px;
  position: absolute;
  height: 760px;
  top: 20px;
  left: 20px;
  background-color: white;
  border-radius: 27px;
  box-shadow: 4px 8px 28px 0 #d3dceb;

  .line {
    background-color: #f0f0f0;
    width: 100%;
    height: 1px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;

    p {
      font-weight: 700;
      font-size: 16px;
      font-family: "Raleway", serif;
      margin: 0;
    }
  }

  .title-param {
    width: 223px;
    display: flex;
    margin: 20px auto 0;
    font-family: "Raleway", serif;
    font-weight: 700;
    font-size: 14px;
  }

  .title-param-2 {
    margin-top: 35px;
  }

  .input-data-error {
    border: 1px solid #ff7b5c !important;
  }

  .input-data {
    display: flex;
    align-items: center;
    width: 223px;
    height: 40px;
    border: 1px solid #e2e2e2;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-top: 20px;

    i {
      color: #23262e;
      margin-left: 15px;
    }

    .error {
      font-family: Raleway, serif;
      color: #ff7b5c;
      font-size: 13px;
      font-weight: 600;
      margin: 0;
      position: absolute;
      top: 50px;
      left: 0;
    }

    .success {
      font-family: Raleway, serif;
      color: #20e820;
      font-size: 13px;
      font-weight: 600;
      margin: 0;
      position: absolute;
      top: 50px;
      left: 0;
    }
  }


  input {
    width: 144px;
    margin-left: 15px;
    outline: none;
    color: #23262e;
    border: none;
  }

  select {
    border: none;
    outline: none;
    margin-left: 11px;
    font-weight: 500;
    font-size: 13px;
    font-family: "Raleway", serif;
    padding-right: 52px;
  }

  .add {
    cursor: pointer;
    width: 222px;
    height: 40px;
    border-radius: 10px;
    background-color: #4290f6;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;

    i {
      color: white;
    }

    p {
      letter-spacing: 1px;
      font-family: Raleway, serif;
      font-size: 15px;
      color: #fff;
      font-weight: 600;
      margin: 0 0 0 10px;
    }
  }

  .disable-button {
    background-color: #d8d8d8 !important;
  }

  .back {
    cursor: pointer;
    width: 222px;
    height: 40px;
    border-radius: 10px;
    background-color: #9795b4;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;

    p {
      letter-spacing: 1px;
      font-family: Raleway, serif;
      font-size: 15px;
      color: #fff;
      font-weight: 600;
      margin: 0;
    }
  }
}
