<div class="add-employee">
    <div class="title">
        <p>Add Employee</p>
    </div>
    <div class="line">
    </div>

    <div class="input-data">
        <i class="fas fa-signature"></i>
        <input type="text" placeholder="First name" [(ngModel)]="firstName">
    </div>

    <div class="input-data">
        <i class="fas fa-signature"></i>
        <input type="text" placeholder="Last name" [(ngModel)]="lastName">
    </div>

    <div class="input-data">
        <i class="far fa-envelope"></i>
        <input type="text" placeholder="Email" [(ngModel)]="email">
    </div>

    <div class="input-data">
        <i class="fas fa-map-marker-alt"></i>
        <input type="text" placeholder="Address" [(ngModel)]="address">
    </div>

    <div class="input-data">
        <i class="fas fa-city"></i>
        <input type="text" placeholder="City" [(ngModel)]="city">
    </div>

    <div class="input-data">
        <i class="fas fa-transgender-alt"></i>
        <select [(ngModel)]="gender">
            <option *ngFor="let item of employeePageService.gender" [value]="item">{{item}}</option>
        </select>
    </div>

    <div class="input-data">
        <i class="fas fa-birthday-cake"></i>
        <input type="datetime-local" 
       [ngModel]="date | date:'yyyy-MM-ddTHH:mm'"
       (ngModelChange)="date = $event" />
    </div>

    <div class="input-data">
        <i class="far fa-id-card"></i>
        <select [(ngModel)]="id" style="padding-right: 115px;">
            <option *ngFor="let item of ids" [value]="item">{{item}}</option>
        </select>
    </div>

    <div class="add" (click)="addEmployee()">
        <p>Add</p>
    </div>
</div>